// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace IncidentRelationshipsV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * View related incidents for an incident
 */
export class IncidentRelationshipsV1Client {
    protected readonly _options: NormalizedClientOptions<IncidentRelationshipsV1Client.Options>;

    constructor(options: IncidentRelationshipsV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List related incidents for a specific incident.
     *
     * @param {IncidentIO.IncidentRelationshipsV1ListRequest} request
     * @param {IncidentRelationshipsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentRelationshipsV1.list({
     *         incident_id: "01FCNDV6P870EA6S7TK1DSYD5H",
     *         page_size: 25,
     *         after: "01FDAG4SAP5TYPT98WGR2N7W91"
     *     })
     */
    public list(
        request: IncidentIO.IncidentRelationshipsV1ListRequest,
        requestOptions?: IncidentRelationshipsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentRelationshipsListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: IncidentIO.IncidentRelationshipsV1ListRequest,
        requestOptions?: IncidentRelationshipsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentRelationshipsListResultV1>> {
        const { incident_id: incidentId, page_size: pageSize, after } = request;
        const _queryParams: Record<string, unknown> = {
            incident_id: incidentId,
            page_size: pageSize,
            after,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incident_relationships",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.IncidentRelationshipsListResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incident_relationships");
    }
}
