// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace IncidentUpdatesV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * List incident updates.
 *
 * Incident Updates allows you to see all the updates that have been shared against a
 * particular incident. This will include any time that the Severity or Status of
 * an incident changed, alongside any additional updates that were provided.
 */
export class IncidentUpdatesV2Client {
    protected readonly _options: NormalizedClientOptions<IncidentUpdatesV2Client.Options>;

    constructor(options: IncidentUpdatesV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all incident updates for an organisation, or for a specific incident.
     *
     * @param {FernApi.IncidentUpdatesV2ListRequest} request
     * @param {IncidentUpdatesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentUpdatesV2.list({
     *         incident_id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *         page_size: 25,
     *         after: "01FDAG4SAP5TYPT98WGR2N7W91"
     *     })
     */
    public list(
        request: FernApi.IncidentUpdatesV2ListRequest = {},
        requestOptions?: IncidentUpdatesV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IncidentUpdatesListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: FernApi.IncidentUpdatesV2ListRequest = {},
        requestOptions?: IncidentUpdatesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IncidentUpdatesListResultV2>> {
        const { incident_id: incidentId, page_size: pageSize, after } = request;
        const _queryParams: Record<string, unknown> = {
            incident_id: incidentId,
            page_size: pageSize,
            after,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/incident_updates",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.IncidentUpdatesListResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/incident_updates");
    }
}
