// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace StatusPagesV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * This API currently only allows linked Response incidents for a status page incident to be listed.
 */
export class StatusPagesV1Client {
    protected readonly _options: NormalizedClientOptions<StatusPagesV1Client.Options>;

    constructor(options: StatusPagesV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List the linked Response incidents for a status page incident.
     *
     * @param {IncidentIO.StatusPagesV1ListResponseIncidentsRequest} request
     * @param {StatusPagesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.statusPagesV1.listresponseincidents({
     *         id: "abc123",
     *         incident_id: "abc123"
     *     })
     */
    public listresponseincidents(
        request: IncidentIO.StatusPagesV1ListResponseIncidentsRequest,
        requestOptions?: StatusPagesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.StatusPagesListResponseIncidentsResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__listresponseincidents(request, requestOptions));
    }

    private async __listresponseincidents(
        request: IncidentIO.StatusPagesV1ListResponseIncidentsRequest,
        requestOptions?: StatusPagesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.StatusPagesListResponseIncidentsResultV1>> {
        const { id, incident_id: incidentId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/status-pages/${core.url.encodePathParam(id)}/incidents/${core.url.encodePathParam(incidentId)}/response-incidents`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.StatusPagesListResponseIncidentsResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/status-pages/{id}/incidents/{incident_id}/response-incidents",
        );
    }
}
