// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace IncidentRolesV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage incident roles.
 *
 * During an incident, you can assign responders to one of the incident roles that are
 * configured in your organisation settings.
 *
 * Every organisation will have a special 'lead' role, which signifies the incident lead or
 * commander. This role cannot be deleted, but can be renamed in the incident.io dashboard.
 */
export class IncidentRolesV1Client {
    protected readonly _options: NormalizedClientOptions<IncidentRolesV1Client.Options>;

    constructor(options: IncidentRolesV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all incident roles for an organisation.
     *
     * @param {IncidentRolesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentRolesV1.list()
     */
    public list(
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentRolesListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentRolesListResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incident_roles",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.IncidentRolesListResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incident_roles");
    }

    /**
     * Create a new incident role
     *
     * @param {IncidentIO.IncidentRolesCreatePayloadV1} request
     * @param {IncidentRolesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentRolesV1.create({
     *         description: "The person currently coordinating the incident",
     *         instructions: "Take point on the incident; Make sure people are clear on responsibilities",
     *         name: "Incident Lead",
     *         required: false,
     *         shortform: "lead"
     *     })
     */
    public create(
        request: IncidentIO.IncidentRolesCreatePayloadV1,
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentRolesCreateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IncidentIO.IncidentRolesCreatePayloadV1,
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentRolesCreateResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incident_roles",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.IncidentRolesCreateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/incident_roles");
    }

    /**
     * Get a single incident role.
     *
     * @param {IncidentIO.IncidentRolesV1ShowRequest} request
     * @param {IncidentRolesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentRolesV1.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: IncidentIO.IncidentRolesV1ShowRequest,
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentRolesShowResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.IncidentRolesV1ShowRequest,
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentRolesShowResultV1>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/incident_roles/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.IncidentRolesShowResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incident_roles/{id}");
    }

    /**
     * Update an existing incident role
     *
     * @param {IncidentIO.IncidentRolesUpdatePayloadV1} request
     * @param {IncidentRolesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentRolesV1.update({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         description: "The person currently coordinating the incident",
     *         instructions: "Take point on the incident; Make sure people are clear on responsibilities",
     *         name: "Incident Lead",
     *         required: false,
     *         shortform: "lead"
     *     })
     */
    public update(
        request: IncidentIO.IncidentRolesUpdatePayloadV1,
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentRolesUpdateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: IncidentIO.IncidentRolesUpdatePayloadV1,
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentRolesUpdateResultV1>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/incident_roles/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.IncidentRolesUpdateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/incident_roles/{id}");
    }

    /**
     * Removes an existing role
     *
     * @param {IncidentIO.IncidentRolesV1DeleteRequest} request
     * @param {IncidentRolesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentRolesV1.delete({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public delete(
        request: IncidentIO.IncidentRolesV1DeleteRequest,
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: IncidentIO.IncidentRolesV1DeleteRequest,
        requestOptions?: IncidentRolesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/incident_roles/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/incident_roles/{id}");
    }
}
