// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace AlertEventsV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Create alerts within incident.io.
 *
 * The alerts API allows you to create alerts within incident.io by posting alert events. You
 * can use alerts to automatically trigger incidents.
 *
 * To create an alert, you must first configure an alert source in the incident.io dashboard.
 */
export class AlertEventsV2Client {
    protected readonly _options: NormalizedClientOptions<AlertEventsV2Client.Options>;

    constructor(options: AlertEventsV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Create an alert event using an HTTP source.
     *
     * @param {FernApi.AlertEventsCreateHttpPayloadV2} request
     * @param {AlertEventsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertEventsV2.createhttp({
     *         alert_source_config_id: "01GW2G3V0S59R238FAHPDS1R66",
     *         token: "some-random-string",
     *         deduplication_key: "4293868629",
     *         description: "We've detected a number of timeouts on hello.world.com, the service may be down. To fix...",
     *         metadata: {
     *             "service": "hello.world.com",
     *             "team": [
     *                 "my-team"
     *             ]
     *         },
     *         source_url: "https://www.my-alerting-platform.com/alerts/my-alert-123",
     *         status: "firing",
     *         title: "*errors.withMessage: PG::Error failed to connect"
     *     })
     */
    public createhttp(
        request: FernApi.AlertEventsCreateHttpPayloadV2,
        requestOptions?: AlertEventsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.AlertEventsCreateHttpResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__createhttp(request, requestOptions));
    }

    private async __createhttp(
        request: FernApi.AlertEventsCreateHttpPayloadV2,
        requestOptions?: AlertEventsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.AlertEventsCreateHttpResultV2>> {
        const { alert_source_config_id: alertSourceConfigId, token, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            token,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/alert_events/http/${core.url.encodePathParam(alertSourceConfigId)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.AlertEventsCreateHttpResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/alert_events/http/{alert_source_config_id}",
        );
    }
}
