// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace CustomFieldsV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage custom fields.
 *
 * Custom fields are used to attach metadata to incidents, which you can use when searching
 * for incidents in the dashboard, triggering workflows, building announcement rules or for
 * your own data needs.
 *
 * Each field has a type:
 *
 * - Single-select, single value selected from a predefined list of options (e.g. Detection Method)
 * - Multi-select, as above but you can pick more than one option (e.g. Affected Teams)
 * - Text, freeform text field (e.g. Customer ID)
 * - Link, link URL that is synced to Slack bookmarks on the incident channel (e.g. External Status Page)
 * - Number, integer or fractional numbers (e.g. # Customers Affected)
 *
 * We may add more custom field types in the future - we'd love to hear any other types you'd like to use!
 */
export class CustomFieldsV1Client {
    protected readonly _options: NormalizedClientOptions<CustomFieldsV1Client.Options>;

    constructor(options: CustomFieldsV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all custom fields for an organisation.
     *
     * @param {CustomFieldsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV1.list()
     */
    public list(
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CustomFieldsListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CustomFieldsListResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/custom_fields",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.CustomFieldsListResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/custom_fields");
    }

    /**
     * Create a new custom field
     *
     * @param {IncidentIO.CustomFieldsCreatePayloadV1} request
     * @param {CustomFieldsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV1.create({
     *         description: "Which team is impacted by this issue",
     *         field_type: "single_select",
     *         name: "Affected Team",
     *         required: "never",
     *         required_v2: "never",
     *         show_before_closure: true,
     *         show_before_creation: true,
     *         show_before_update: true,
     *         show_in_announcement_post: true
     *     })
     */
    public create(
        request: IncidentIO.CustomFieldsCreatePayloadV1,
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CustomFieldsCreateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IncidentIO.CustomFieldsCreatePayloadV1,
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CustomFieldsCreateResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/custom_fields",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.CustomFieldsCreateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/custom_fields");
    }

    /**
     * Get a single custom field.
     *
     * @param {IncidentIO.CustomFieldsV1ShowRequest} request
     * @param {CustomFieldsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV1.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: IncidentIO.CustomFieldsV1ShowRequest,
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CustomFieldsShowResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.CustomFieldsV1ShowRequest,
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CustomFieldsShowResultV1>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/custom_fields/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.CustomFieldsShowResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/custom_fields/{id}");
    }

    /**
     * Update the details of a custom field
     *
     * @param {IncidentIO.CustomFieldsUpdatePayloadV1} request
     * @param {CustomFieldsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV1.update({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         description: "Which team is impacted by this issue",
     *         name: "Affected Team",
     *         required: "never",
     *         required_v2: "never",
     *         show_before_closure: true,
     *         show_before_creation: true,
     *         show_before_update: true,
     *         show_in_announcement_post: true
     *     })
     */
    public update(
        request: IncidentIO.CustomFieldsUpdatePayloadV1,
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CustomFieldsUpdateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: IncidentIO.CustomFieldsUpdatePayloadV1,
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CustomFieldsUpdateResultV1>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/custom_fields/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.CustomFieldsUpdateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/custom_fields/{id}");
    }

    /**
     * Delete a custom field
     *
     * @param {IncidentIO.CustomFieldsV1DeleteRequest} request
     * @param {CustomFieldsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV1.delete({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public delete(
        request: IncidentIO.CustomFieldsV1DeleteRequest,
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: IncidentIO.CustomFieldsV1DeleteRequest,
        requestOptions?: CustomFieldsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/custom_fields/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/custom_fields/{id}");
    }
}
