// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace AlertsV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Read your alerts in incident.io.
 *
 * Alerts are events ingested from third parties by alert sources. They can trigger incidents and escalations, as configured in alert routes.
 * To view your alerts, you can list all alerts, or show a single alert.
 * If you'd like to view only alerts that are currently firing, you can filter by status.
 * To view the alert that was created for an event in your external system, filter by deduplication key.
 *
 * If you'd like to view alerts connected to a particular incident, you can list incident alerts. You can filter by incident_id to find all alerts attached to a particular incident, or by alert_id to find the incident that a particular alert triggered.
 */
export class AlertsV2Client {
    protected readonly _options: NormalizedClientOptions<AlertsV2Client.Options>;

    constructor(options: AlertsV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all alerts for your account.
     *
     * This endpoint supports a number of filters, which can help find alerts matching certain
     * criteria. These filters work similarly to the filters on the incidents endpoint, where
     * a field is specified alongside a comparison operator in the query string.
     *
     * Note that:
     * - Filters may be used together, and the result will be alerts that match all filters.
     * - All query parameters must be URI encoded.
     *
     * ### By deduplication_key
     *
     * Find all alerts with deduplication_key ABC:
     *
     * 		curl --get 'https://api.incident.io/v2/alerts' \
     * 			--data 'deduplication_key[is]=ABC'
     *
     * ### By status
     *
     * Find all alerts in a firing state:
     *
     * 		curl --get 'https://api.incident.io/v2/alerts' \
     * 			--data 'status[one_of]=firing'
     *
     * ### By created_at
     * Find all alerts that follow specified date parameters for created_at field.
     * Possible values are "gte" (greater than or equal to), "lte" (less than or equal to), and
     * "date_range" (between two dates). The following example finds all alerts created after
     * 2025-01-01:
     *
     * 		curl --get 'https://api.incident.io/v2/alerts' \
     * 			--data 'created_at[gte]=2025-01-01'
     *
     * To find alerts created within a specific date range, use the date_range option with
     * tilde-separated dates:
     *
     * 		curl --get 'https://api.incident.io/v2/alerts' \
     * 			--data 'created_at[date_range]=2024-12-02~2024-12-08'
     *
     *
     * @param {FernApi.AlertsV2ListRequest} request
     * @param {AlertsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertsV2.list({
     *         page_size: 25,
     *         after: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public list(
        request: FernApi.AlertsV2ListRequest,
        requestOptions?: AlertsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.AlertsListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: FernApi.AlertsV2ListRequest,
        requestOptions?: AlertsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.AlertsListResultV2>> {
        const {
            page_size: pageSize,
            after,
            deduplication_key: deduplicationKey,
            status,
            created_at: createdAt,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            after,
            deduplication_key: deduplicationKey != null ? toJson(deduplicationKey) : undefined,
            status: status != null ? toJson(status) : undefined,
            created_at: createdAt != null ? toJson(createdAt) : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/alerts",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.AlertsListResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/alerts");
    }

    /**
     * Show a single alert for your account
     *
     * @param {FernApi.AlertsV2ShowRequest} request
     * @param {AlertsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertsV2.show({
     *         id: "01FDAG4SAP5TYPT98WGR2N7W91"
     *     })
     */
    public show(
        request: FernApi.AlertsV2ShowRequest,
        requestOptions?: AlertsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.AlertsShowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: FernApi.AlertsV2ShowRequest,
        requestOptions?: AlertsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.AlertsShowResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/alerts/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.AlertsShowResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/alerts/{id}");
    }

    /**
     * List the connections between incidents and alerts
     *
     * @param {FernApi.AlertsV2ListIncidentAlertsRequest} request
     * @param {AlertsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertsV2.listincidentalerts({
     *         page_size: 25,
     *         after: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         alert_id: "01FCNDV6P870EA6S7TK1DSYDG1",
     *         incident_id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public listincidentalerts(
        request: FernApi.AlertsV2ListIncidentAlertsRequest,
        requestOptions?: AlertsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.AlertsListIncidentAlertsResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__listincidentalerts(request, requestOptions));
    }

    private async __listincidentalerts(
        request: FernApi.AlertsV2ListIncidentAlertsRequest,
        requestOptions?: AlertsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.AlertsListIncidentAlertsResultV2>> {
        const { page_size: pageSize, after, alert_id: alertId, incident_id: incidentId } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            after,
            alert_id: alertId,
            incident_id: incidentId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/incident_alerts",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.AlertsListIncidentAlertsResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/incident_alerts");
    }
}
