// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace AlertAttributesV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * View and manage alert attributes.
 *
 * Alert attributes are used to parse structured data from alerts coming in via alert sources.
 */
export class AlertAttributesV2Client {
    protected readonly _options: NormalizedClientOptions<AlertAttributesV2Client.Options>;

    constructor(options: AlertAttributesV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List alert attributes.
     *
     * @param {AlertAttributesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertAttributesV2.list()
     */
    public list(
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.AlertAttributesListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.AlertAttributesListResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/alert_attributes",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.AlertAttributesListResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/alert_attributes");
    }

    /**
     * Create a new alert attribute.
     *
     * @param {IncidentIO.AlertAttributesCreatePayloadV2} request
     * @param {AlertAttributesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertAttributesV2.create({
     *         array: false,
     *         name: "service",
     *         required: false,
     *         type: "CatalogEntry[\"01GW2G3V0S59R238FAHPDS1R67\"]"
     *     })
     */
    public create(
        request: IncidentIO.AlertAttributesCreatePayloadV2,
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.AlertAttributesCreateResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IncidentIO.AlertAttributesCreatePayloadV2,
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.AlertAttributesCreateResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/alert_attributes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.AlertAttributesCreateResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/alert_attributes");
    }

    /**
     * Show an alert attribute.
     *
     * @param {IncidentIO.AlertAttributesV2ShowRequest} request
     * @param {AlertAttributesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertAttributesV2.show({
     *         id: "01GW2G3V0S59R238FAHPDS1R66"
     *     })
     */
    public show(
        request: IncidentIO.AlertAttributesV2ShowRequest,
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.AlertAttributesShowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.AlertAttributesV2ShowRequest,
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.AlertAttributesShowResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/alert_attributes/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.AlertAttributesShowResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/alert_attributes/{id}");
    }

    /**
     * Update an alert attribute.
     *
     * @param {IncidentIO.AlertAttributesUpdatePayloadV2} request
     * @param {AlertAttributesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertAttributesV2.update({
     *         id: "01GW2G3V0S59R238FAHPDS1R66",
     *         array: false,
     *         name: "service",
     *         required: false,
     *         type: "CatalogEntry[\"01GW2G3V0S59R238FAHPDS1R67\"]"
     *     })
     */
    public update(
        request: IncidentIO.AlertAttributesUpdatePayloadV2,
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.AlertAttributesUpdateResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: IncidentIO.AlertAttributesUpdatePayloadV2,
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.AlertAttributesUpdateResultV2>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/alert_attributes/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.AlertAttributesUpdateResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v2/alert_attributes/{id}");
    }

    /**
     * Destroy an alert attribute.
     *
     * @param {IncidentIO.AlertAttributesV2DestroyRequest} request
     * @param {AlertAttributesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertAttributesV2.destroy({
     *         id: "01GW2G3V0S59R238FAHPDS1R66"
     *     })
     */
    public destroy(
        request: IncidentIO.AlertAttributesV2DestroyRequest,
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__destroy(request, requestOptions));
    }

    private async __destroy(
        request: IncidentIO.AlertAttributesV2DestroyRequest,
        requestOptions?: AlertAttributesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/alert_attributes/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/alert_attributes/{id}");
    }
}
