// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace CustomFieldsV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage custom fields.
 *
 * Custom fields are used to attach metadata to incidents, which you can use when searching
 * for incidents in the dashboard, triggering workflows, building announcement rules or for
 * your own data needs.
 *
 * Each field has a type:
 *
 * - Single-select, single value selected from a predefined list of options (e.g. Detection Method)
 * - Multi-select, as above but you can pick more than one option (e.g. Affected Teams)
 * - Text, freeform text field (e.g. Customer ID)
 * - Link, link URL that is synced to Slack bookmarks on the incident channel (e.g. External Status Page)
 * - Number, integer or fractional numbers (e.g. # Customers Affected)
 *
 * We may add more custom field types in the future - we'd love to hear any other types you'd like to use!
 */
export class CustomFieldsV2Client {
    protected readonly _options: NormalizedClientOptions<CustomFieldsV2Client.Options>;

    constructor(options: CustomFieldsV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all custom fields for an organisation.
     *
     * @param {CustomFieldsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV2.list()
     */
    public list(
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CustomFieldsListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CustomFieldsListResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/custom_fields",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CustomFieldsListResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/custom_fields");
    }

    /**
     * Create a new custom field
     *
     * @param {FernApi.CustomFieldsCreatePayloadV2} request
     * @param {CustomFieldsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV2.create({
     *         catalog_type_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         description: "Which team is impacted by this issue",
     *         field_type: "single_select",
     *         filter_by: {
     *             catalog_attribute_id: "01H2FW182TAH0NHEVBY34SCAK0",
     *             custom_field_id: "01H2FW182TAH0NHEVBY34SCAK0"
     *         },
     *         group_by_catalog_attribute_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         helptext_catalog_attribute_id: "01H2FW182TAH0NHEVBY34SCAK0",
     *         name: "Affected Team"
     *     })
     */
    public create(
        request: FernApi.CustomFieldsCreatePayloadV2,
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CustomFieldsCreateResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: FernApi.CustomFieldsCreatePayloadV2,
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CustomFieldsCreateResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/custom_fields",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CustomFieldsCreateResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/custom_fields");
    }

    /**
     * Get a single custom field.
     *
     * @param {FernApi.CustomFieldsV2ShowRequest} request
     * @param {CustomFieldsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV2.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: FernApi.CustomFieldsV2ShowRequest,
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CustomFieldsShowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: FernApi.CustomFieldsV2ShowRequest,
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CustomFieldsShowResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/custom_fields/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CustomFieldsShowResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/custom_fields/{id}");
    }

    /**
     * Update the details of a custom field
     *
     * @param {FernApi.CustomFieldsUpdatePayloadV2} request
     * @param {CustomFieldsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV2.update({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         description: "Which team is impacted by this issue",
     *         filter_by: {
     *             catalog_attribute_id: "01H2FW182TAH0NHEVBY34SCAK0",
     *             custom_field_id: "01H2FW182TAH0NHEVBY34SCAK0"
     *         },
     *         group_by_catalog_attribute_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         helptext_catalog_attribute_id: "01H2FW182TAH0NHEVBY34SCAK0",
     *         name: "Affected Team"
     *     })
     */
    public update(
        request: FernApi.CustomFieldsUpdatePayloadV2,
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CustomFieldsUpdateResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: FernApi.CustomFieldsUpdatePayloadV2,
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CustomFieldsUpdateResultV2>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/custom_fields/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CustomFieldsUpdateResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v2/custom_fields/{id}");
    }

    /**
     * Delete a custom field
     *
     * @param {FernApi.CustomFieldsV2DeleteRequest} request
     * @param {CustomFieldsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldsV2.delete({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public delete(
        request: FernApi.CustomFieldsV2DeleteRequest,
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: FernApi.CustomFieldsV2DeleteRequest,
        requestOptions?: CustomFieldsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/custom_fields/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/custom_fields/{id}");
    }
}
