// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace WorkflowsV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage workflows.
 *
 * Workflows allow you to automate certain actions and behaviors based on specific triggers.
 */
export class WorkflowsV2Client {
    protected readonly _options: NormalizedClientOptions<WorkflowsV2Client.Options>;

    constructor(options: WorkflowsV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all workflows
     *
     * @param {WorkflowsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflowsV2.listworkflows()
     */
    public listworkflows(
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.WorkflowsListWorkflowsResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__listworkflows(requestOptions));
    }

    private async __listworkflows(
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.WorkflowsListWorkflowsResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/workflows",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.WorkflowsListWorkflowsResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/workflows");
    }

    /**
     * Create a new workflow
     *
     * @param {IncidentIO.WorkflowsCreateWorkflowPayloadV2} request
     * @param {WorkflowsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflowsV2.createworkflow({
     *         annotations: {
     *             "incident.io/terraform/version": "3.0.0"
     *         },
     *         condition_groups: [{
     *                 conditions: [{
     *                         operation: "one_of",
     *                         param_bindings: [{
     *                                 array_value: [{
     *                                         literal: "SEV123",
     *                                         reference: "incident.severity"
     *                                     }],
     *                                 value: {
     *                                     literal: "SEV123",
     *                                     reference: "incident.severity"
     *                                 }
     *                             }],
     *                         subject: "incident.severity"
     *                     }]
     *             }],
     *         continue_on_step_error: true,
     *         delay: {
     *             conditions_apply_over_delay: false,
     *             for_seconds: 60
     *         },
     *         expressions: [{
     *                 else_branch: {
     *                     result: {
     *                         array_value: [{
     *                                 literal: "SEV123",
     *                                 reference: "incident.severity"
     *                             }],
     *                         value: {
     *                             literal: "SEV123",
     *                             reference: "incident.severity"
     *                         }
     *                     }
     *                 },
     *                 label: "Team Slack channel",
     *                 operations: [{
     *                         branches: {
     *                             branches: [{
     *                                     condition_groups: [{
     *                                             conditions: [{
     *                                                     operation: "one_of",
     *                                                     param_bindings: [{
     *                                                             array_value: [{
     *                                                                     literal: "SEV123",
     *                                                                     reference: "incident.severity"
     *                                                                 }],
     *                                                             value: {
     *                                                                 literal: "SEV123",
     *                                                                 reference: "incident.severity"
     *                                                             }
     *                                                         }],
     *                                                     subject: "incident.severity"
     *                                                 }]
     *                                         }],
     *                                     result: {
     *                                         array_value: [{
     *                                                 literal: "SEV123",
     *                                                 reference: "incident.severity"
     *                                             }],
     *                                         value: {
     *                                             literal: "SEV123",
     *                                             reference: "incident.severity"
     *                                         }
     *                                     }
     *                                 }],
     *                             returns: {
     *                                 array: true,
     *                                 type: "IncidentStatus"
     *                             }
     *                         },
     *                         concatenate: {
     *                             reference: "catalog_attribute[\"01FCNDV6P870EA6S7TK1DSYD5H\"]"
     *                         },
     *                         filter: {
     *                             condition_groups: [{
     *                                     conditions: [{
     *                                             operation: "one_of",
     *                                             param_bindings: [{
     *                                                     array_value: [{
     *                                                             literal: "SEV123",
     *                                                             reference: "incident.severity"
     *                                                         }],
     *                                                     value: {
     *                                                         literal: "SEV123",
     *                                                         reference: "incident.severity"
     *                                                     }
     *                                                 }],
     *                                             subject: "incident.severity"
     *                                         }]
     *                                 }]
     *                         },
     *                         navigate: {
     *                             reference: "catalog_attribute[\"01FCNDV6P870EA6S7TK1DSYD5H\"]"
     *                         },
     *                         operation_type: "navigate",
     *                         parse: {
     *                             returns: {
     *                                 array: true,
     *                                 type: "IncidentStatus"
     *                             },
     *                             source: "metadata.annotations[\"github.com/repo\"]"
     *                         }
     *                     }],
     *                 reference: "abc123",
     *                 root_reference: "incident.status"
     *             }],
     *         folder: "My folder 01",
     *         include_private_escalations: true,
     *         include_private_incidents: true,
     *         name: "My little workflow",
     *         once_for: ["incident.url"],
     *         runs_on_incident_modes: ["standard", "test", "retrospective"],
     *         runs_on_incidents: "newly_created",
     *         shortform: "page-the-ceo",
     *         state: "active",
     *         steps: [{
     *                 for_each: "abc123",
     *                 id: "abc123",
     *                 name: "pagerduty.escalate",
     *                 param_bindings: [{
     *                         array_value: [{
     *                                 literal: "SEV123",
     *                                 reference: "incident.severity"
     *                             }],
     *                         value: {
     *                             literal: "SEV123",
     *                             reference: "incident.severity"
     *                         }
     *                     }]
     *             }],
     *         trigger: "incident.updated"
     *     })
     */
    public createworkflow(
        request: IncidentIO.WorkflowsCreateWorkflowPayloadV2,
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.WorkflowsCreateWorkflowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__createworkflow(request, requestOptions));
    }

    private async __createworkflow(
        request: IncidentIO.WorkflowsCreateWorkflowPayloadV2,
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.WorkflowsCreateWorkflowResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/workflows",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.WorkflowsCreateWorkflowResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/workflows");
    }

    /**
     * Show a workflow by ID
     *
     * @param {IncidentIO.WorkflowsV2ShowWorkflowRequest} request
     * @param {WorkflowsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflowsV2.showworkflow({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         skip_step_upgrades: false
     *     })
     */
    public showworkflow(
        request: IncidentIO.WorkflowsV2ShowWorkflowRequest,
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.WorkflowsShowWorkflowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__showworkflow(request, requestOptions));
    }

    private async __showworkflow(
        request: IncidentIO.WorkflowsV2ShowWorkflowRequest,
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.WorkflowsShowWorkflowResultV2>> {
        const { id, skip_step_upgrades: skipStepUpgrades } = request;
        const _queryParams: Record<string, unknown> = {
            skip_step_upgrades: skipStepUpgrades,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/workflows/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.WorkflowsShowWorkflowResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/workflows/{id}");
    }

    /**
     * Updates a workflow
     *
     * @param {IncidentIO.WorkflowsUpdateWorkflowPayloadV2} request
     * @param {WorkflowsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflowsV2.updateworkflow({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         annotations: {
     *             "incident.io/terraform/version": "3.0.0"
     *         },
     *         condition_groups: [{
     *                 conditions: [{
     *                         operation: "one_of",
     *                         param_bindings: [{
     *                                 array_value: [{
     *                                         literal: "SEV123",
     *                                         reference: "incident.severity"
     *                                     }],
     *                                 value: {
     *                                     literal: "SEV123",
     *                                     reference: "incident.severity"
     *                                 }
     *                             }],
     *                         subject: "incident.severity"
     *                     }]
     *             }],
     *         continue_on_step_error: true,
     *         delay: {
     *             conditions_apply_over_delay: false,
     *             for_seconds: 60
     *         },
     *         expressions: [{
     *                 else_branch: {
     *                     result: {
     *                         array_value: [{
     *                                 literal: "SEV123",
     *                                 reference: "incident.severity"
     *                             }],
     *                         value: {
     *                             literal: "SEV123",
     *                             reference: "incident.severity"
     *                         }
     *                     }
     *                 },
     *                 label: "Team Slack channel",
     *                 operations: [{
     *                         branches: {
     *                             branches: [{
     *                                     condition_groups: [{
     *                                             conditions: [{
     *                                                     operation: "one_of",
     *                                                     param_bindings: [{
     *                                                             array_value: [{
     *                                                                     literal: "SEV123",
     *                                                                     reference: "incident.severity"
     *                                                                 }],
     *                                                             value: {
     *                                                                 literal: "SEV123",
     *                                                                 reference: "incident.severity"
     *                                                             }
     *                                                         }],
     *                                                     subject: "incident.severity"
     *                                                 }]
     *                                         }],
     *                                     result: {
     *                                         array_value: [{
     *                                                 literal: "SEV123",
     *                                                 reference: "incident.severity"
     *                                             }],
     *                                         value: {
     *                                             literal: "SEV123",
     *                                             reference: "incident.severity"
     *                                         }
     *                                     }
     *                                 }],
     *                             returns: {
     *                                 array: true,
     *                                 type: "IncidentStatus"
     *                             }
     *                         },
     *                         concatenate: {
     *                             reference: "catalog_attribute[\"01FCNDV6P870EA6S7TK1DSYD5H\"]"
     *                         },
     *                         filter: {
     *                             condition_groups: [{
     *                                     conditions: [{
     *                                             operation: "one_of",
     *                                             param_bindings: [{
     *                                                     array_value: [{
     *                                                             literal: "SEV123",
     *                                                             reference: "incident.severity"
     *                                                         }],
     *                                                     value: {
     *                                                         literal: "SEV123",
     *                                                         reference: "incident.severity"
     *                                                     }
     *                                                 }],
     *                                             subject: "incident.severity"
     *                                         }]
     *                                 }]
     *                         },
     *                         navigate: {
     *                             reference: "catalog_attribute[\"01FCNDV6P870EA6S7TK1DSYD5H\"]"
     *                         },
     *                         operation_type: "navigate",
     *                         parse: {
     *                             returns: {
     *                                 array: true,
     *                                 type: "IncidentStatus"
     *                             },
     *                             source: "metadata.annotations[\"github.com/repo\"]"
     *                         }
     *                     }],
     *                 reference: "abc123",
     *                 root_reference: "incident.status"
     *             }],
     *         folder: "My folder 01",
     *         include_private_escalations: true,
     *         include_private_incidents: true,
     *         name: "My little workflow",
     *         once_for: ["incident.url"],
     *         runs_on_incident_modes: ["standard", "test", "retrospective"],
     *         runs_on_incidents: "newly_created",
     *         shortform: "page-the-ceo",
     *         state: "active",
     *         steps: [{
     *                 for_each: "abc123",
     *                 id: "abc123",
     *                 name: "pagerduty.escalate",
     *                 param_bindings: [{
     *                         array_value: [{
     *                                 literal: "SEV123",
     *                                 reference: "incident.severity"
     *                             }],
     *                         value: {
     *                             literal: "SEV123",
     *                             reference: "incident.severity"
     *                         }
     *                     }]
     *             }]
     *     })
     */
    public updateworkflow(
        request: IncidentIO.WorkflowsUpdateWorkflowPayloadV2,
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.WorkflowsUpdateWorkflowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__updateworkflow(request, requestOptions));
    }

    private async __updateworkflow(
        request: IncidentIO.WorkflowsUpdateWorkflowPayloadV2,
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.WorkflowsUpdateWorkflowResultV2>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/workflows/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.WorkflowsUpdateWorkflowResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v2/workflows/{id}");
    }

    /**
     * Archives a workflow
     *
     * @param {IncidentIO.WorkflowsV2DestroyWorkflowRequest} request
     * @param {WorkflowsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workflowsV2.destroyworkflow({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public destroyworkflow(
        request: IncidentIO.WorkflowsV2DestroyWorkflowRequest,
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__destroyworkflow(request, requestOptions));
    }

    private async __destroyworkflow(
        request: IncidentIO.WorkflowsV2DestroyWorkflowRequest,
        requestOptions?: WorkflowsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/workflows/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/workflows/{id}");
    }
}
