// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace IncidentStatusesV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage incident statuses.
 *
 * Each incident has a status, picked from one of the statuses configured in your
 * organisations settings.
 *
 * Statuses help communicate where an incident is in its lifecycle. You can use
 * statuses when filtering incidents in the dashboard, and in workflows and announcement
 * rules.
 */
export class IncidentStatusesV1Client {
    protected readonly _options: NormalizedClientOptions<IncidentStatusesV1Client.Options>;

    constructor(options: IncidentStatusesV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all incident statuses for an organisation.
     *
     * @param {IncidentStatusesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentStatusesV1.list()
     */
    public list(
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IncidentStatusesListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IncidentStatusesListResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v1/incident_statuses",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.IncidentStatusesListResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incident_statuses");
    }

    /**
     * Create a new incident status
     *
     * @param {FernApi.IncidentStatusesCreatePayloadV1} request
     * @param {IncidentStatusesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentStatusesV1.create({
     *         category: "live",
     *         description: "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
     *         name: "Closed"
     *     })
     */
    public create(
        request: FernApi.IncidentStatusesCreatePayloadV1,
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IncidentStatusesCreateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: FernApi.IncidentStatusesCreatePayloadV1,
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IncidentStatusesCreateResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v1/incident_statuses",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.IncidentStatusesCreateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/incident_statuses");
    }

    /**
     * Get a single incident status.
     *
     * @param {FernApi.IncidentStatusesV1ShowRequest} request
     * @param {IncidentStatusesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentStatusesV1.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYD5H"
     *     })
     */
    public show(
        request: FernApi.IncidentStatusesV1ShowRequest,
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IncidentStatusesShowResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: FernApi.IncidentStatusesV1ShowRequest,
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IncidentStatusesShowResultV1>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v1/incident_statuses/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.IncidentStatusesShowResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incident_statuses/{id}");
    }

    /**
     * Update an existing incident status
     *
     * @param {FernApi.IncidentStatusesUpdatePayloadV1} request
     * @param {IncidentStatusesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentStatusesV1.update({
     *         id: "01FCNDV6P870EA6S7TK1DSYD5H",
     *         description: "Impact has been **fully mitigated**, and we're ready to learn from this incident.",
     *         name: "Closed"
     *     })
     */
    public update(
        request: FernApi.IncidentStatusesUpdatePayloadV1,
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IncidentStatusesUpdateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: FernApi.IncidentStatusesUpdatePayloadV1,
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IncidentStatusesUpdateResultV1>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v1/incident_statuses/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.IncidentStatusesUpdateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/incident_statuses/{id}");
    }

    /**
     * Delete an incident status
     *
     * @param {FernApi.IncidentStatusesV1DeleteRequest} request
     * @param {IncidentStatusesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentStatusesV1.delete({
     *         id: "01FCNDV6P870EA6S7TK1DSYD5H"
     *     })
     */
    public delete(
        request: FernApi.IncidentStatusesV1DeleteRequest,
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: FernApi.IncidentStatusesV1DeleteRequest,
        requestOptions?: IncidentStatusesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v1/incident_statuses/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/incident_statuses/{id}");
    }
}
