// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace CustomFieldOptionsV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage custom field options.
 *
 * Single- and multi-select custom fields have a list of all available options,
 * which have a value, and a sort key. The value must be unique to the custom
 * field. For example, you might have an Incident Type custom field, with options
 * "Data breach", "Performance degradation", "API downtime", etc.
 */
export class CustomFieldOptionsV1Client {
    protected readonly _options: NormalizedClientOptions<CustomFieldOptionsV1Client.Options>;

    constructor(options: CustomFieldOptionsV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Show custom field options for a custom field
     *
     * @param {FernApi.CustomFieldOptionsV1ListRequest} request
     * @param {CustomFieldOptionsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldOptionsV1.list({
     *         page_size: 25,
     *         after: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *         custom_field_id: "01FCNDV6P870EA6S7TK1DSYD5H"
     *     })
     */
    public list(
        request: FernApi.CustomFieldOptionsV1ListRequest,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CustomFieldOptionsListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: FernApi.CustomFieldOptionsV1ListRequest,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CustomFieldOptionsListResultV1>> {
        const { page_size: pageSize, after, custom_field_id: customFieldId } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            after,
            custom_field_id: customFieldId,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v1/custom_field_options",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.CustomFieldOptionsListResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/custom_field_options");
    }

    /**
     * Create a custom field option. If the sort key is not supplied, it'll default to 1000, so the option appears near the end of the list.
     *
     * @param {FernApi.CustomFieldOptionsCreatePayloadV1} request
     * @param {CustomFieldOptionsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldOptionsV1.create({
     *         custom_field_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         sort_key: 10,
     *         value: "Product"
     *     })
     */
    public create(
        request: FernApi.CustomFieldOptionsCreatePayloadV1,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CustomFieldOptionsCreateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: FernApi.CustomFieldOptionsCreatePayloadV1,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CustomFieldOptionsCreateResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v1/custom_field_options",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.CustomFieldOptionsCreateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/custom_field_options");
    }

    /**
     * Get a single custom field option
     *
     * @param {FernApi.CustomFieldOptionsV1ShowRequest} request
     * @param {CustomFieldOptionsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldOptionsV1.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: FernApi.CustomFieldOptionsV1ShowRequest,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CustomFieldOptionsShowResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: FernApi.CustomFieldOptionsV1ShowRequest,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CustomFieldOptionsShowResultV1>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v1/custom_field_options/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.CustomFieldOptionsShowResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/custom_field_options/{id}");
    }

    /**
     * Update a custom field option
     *
     * @param {FernApi.CustomFieldOptionsUpdatePayloadV1} request
     * @param {CustomFieldOptionsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldOptionsV1.update({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         sort_key: 10,
     *         value: "Product"
     *     })
     */
    public update(
        request: FernApi.CustomFieldOptionsUpdatePayloadV1,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CustomFieldOptionsUpdateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: FernApi.CustomFieldOptionsUpdatePayloadV1,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CustomFieldOptionsUpdateResultV1>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v1/custom_field_options/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.CustomFieldOptionsUpdateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/custom_field_options/{id}");
    }

    /**
     * Delete a custom field option
     *
     * @param {FernApi.CustomFieldOptionsV1DeleteRequest} request
     * @param {CustomFieldOptionsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.customFieldOptionsV1.delete({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public delete(
        request: FernApi.CustomFieldOptionsV1DeleteRequest,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: FernApi.CustomFieldOptionsV1DeleteRequest,
        requestOptions?: CustomFieldOptionsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v1/custom_field_options/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/custom_field_options/{id}",
        );
    }
}
