// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace AlertSourcesV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Configure your alert sources in incident.io.
 *
 * Alert sources are the systems that send alerts to incident.io, which can then be routed to the right people and teams.
 */
export class AlertSourcesV2Client {
    protected readonly _options: NormalizedClientOptions<AlertSourcesV2Client.Options>;

    constructor(options: AlertSourcesV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all alert sources in your account.
     *
     * @param {AlertSourcesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertSourcesV2.list()
     */
    public list(
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.AlertSourcesListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.AlertSourcesListResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/alert_sources",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.AlertSourcesListResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/alert_sources");
    }

    /**
     * Create a new alert source in your account.
     *
     * @param {IncidentIO.AlertSourcesCreatePayloadV2} request
     * @param {AlertSourcesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertSourcesV2.create({
     *         http_custom_options: {
     *             deduplication_key_path: "$.alert_id",
     *             transform_expression: "return {\n  title: $.title || $.name || 'Unknown Alert',\n  status: $.status === 'resolved' ? 'resolved' : 'firing',\n  description: $.description || $.message || '',\n  sourceURL: $.url || $.link || '',\n  metadata: { team: $.team, severity: $.severity }\n}"
     *         },
     *         jira_options: {
     *             project_ids: ["01GBSQF3FHF7FWZQNWGHAVQ804", "10043"]
     *         },
     *         name: "Production Web Dashboard Alerts",
     *         owning_team_ids: ["01G0J1EXE7AXZ2C93K61WBPYEH"],
     *         source_type: "alertmanager",
     *         template: {
     *             attributes: [{
     *                     alert_attribute_id: "abc123",
     *                     binding: {
     *                         array_value: [{
     *                                 literal: "SEV123",
     *                                 reference: "incident.severity"
     *                             }],
     *                         value: {
     *                             literal: "SEV123",
     *                             reference: "incident.severity"
     *                         }
     *                     }
     *                 }],
     *             description: {
     *                 literal: "SEV123",
     *                 reference: "incident.severity"
     *             },
     *             expressions: [{
     *                     else_branch: {
     *                         result: {
     *                             array_value: [{
     *                                     literal: "SEV123",
     *                                     reference: "incident.severity"
     *                                 }],
     *                             value: {
     *                                 literal: "SEV123",
     *                                 reference: "incident.severity"
     *                             }
     *                         }
     *                     },
     *                     label: "Team Slack channel",
     *                     operations: [{
     *                             branches: {
     *                                 branches: [{
     *                                         condition_groups: [{
     *                                                 conditions: [{
     *                                                         operation: "one_of",
     *                                                         param_bindings: [{
     *                                                                 array_value: [{
     *                                                                         literal: "SEV123",
     *                                                                         reference: "incident.severity"
     *                                                                     }],
     *                                                                 value: {
     *                                                                     literal: "SEV123",
     *                                                                     reference: "incident.severity"
     *                                                                 }
     *                                                             }],
     *                                                         subject: "incident.severity"
     *                                                     }]
     *                                             }],
     *                                         result: {
     *                                             array_value: [{
     *                                                     literal: "SEV123",
     *                                                     reference: "incident.severity"
     *                                                 }],
     *                                             value: {
     *                                                 literal: "SEV123",
     *                                                 reference: "incident.severity"
     *                                             }
     *                                         }
     *                                     }],
     *                                 returns: {
     *                                     array: true,
     *                                     type: "IncidentStatus"
     *                                 }
     *                             },
     *                             concatenate: {
     *                                 reference: "catalog_attribute[\"01FCNDV6P870EA6S7TK1DSYD5H\"]"
     *                             },
     *                             filter: {
     *                                 condition_groups: [{
     *                                         conditions: [{
     *                                                 operation: "one_of",
     *                                                 param_bindings: [{
     *                                                         array_value: [{
     *                                                                 literal: "SEV123",
     *                                                                 reference: "incident.severity"
     *                                                             }],
     *                                                         value: {
     *                                                             literal: "SEV123",
     *                                                             reference: "incident.severity"
     *                                                         }
     *                                                     }],
     *                                                 subject: "incident.severity"
     *                                             }]
     *                                     }]
     *                             },
     *                             navigate: {
     *                                 reference: "catalog_attribute[\"01FCNDV6P870EA6S7TK1DSYD5H\"]"
     *                             },
     *                             operation_type: "navigate",
     *                             parse: {
     *                                 returns: {
     *                                     array: true,
     *                                     type: "IncidentStatus"
     *                                 },
     *                                 source: "metadata.annotations[\"github.com/repo\"]"
     *                             }
     *                         }],
     *                     reference: "abc123",
     *                     root_reference: "incident.status"
     *                 }],
     *             is_private: false,
     *             title: {
     *                 literal: "SEV123",
     *                 reference: "incident.severity"
     *             },
     *             visible_to_teams: {
     *                 array_value: [{
     *                         literal: "SEV123",
     *                         reference: "incident.severity"
     *                     }],
     *                 value: {
     *                     literal: "SEV123",
     *                     reference: "incident.severity"
     *                 }
     *             }
     *         }
     *     })
     */
    public create(
        request: IncidentIO.AlertSourcesCreatePayloadV2,
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.AlertSourcesCreateResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IncidentIO.AlertSourcesCreatePayloadV2,
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.AlertSourcesCreateResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/alert_sources",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.AlertSourcesCreateResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/alert_sources");
    }

    /**
     * Load details about a specific alert source in your account.
     *
     * @param {IncidentIO.AlertSourcesV2ShowRequest} request
     * @param {AlertSourcesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertSourcesV2.show({
     *         id: "01GW2G3V0S59R238FAHPDS1R66"
     *     })
     */
    public show(
        request: IncidentIO.AlertSourcesV2ShowRequest,
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.AlertSourcesShowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.AlertSourcesV2ShowRequest,
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.AlertSourcesShowResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/alert_sources/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.AlertSourcesShowResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/alert_sources/{id}");
    }

    /**
     * Update an existing alert source in your account.
     *
     * @param {IncidentIO.AlertSourcesUpdatePayloadV2} request
     * @param {AlertSourcesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertSourcesV2.update({
     *         id: "01GW2G3V0S59R238FAHPDS1R66",
     *         http_custom_options: {
     *             deduplication_key_path: "$.alert_id",
     *             transform_expression: "return {\n  title: $.title || $.name || 'Unknown Alert',\n  status: $.status === 'resolved' ? 'resolved' : 'firing',\n  description: $.description || $.message || '',\n  sourceURL: $.url || $.link || '',\n  metadata: { team: $.team, severity: $.severity }\n}"
     *         },
     *         jira_options: {
     *             project_ids: ["01GBSQF3FHF7FWZQNWGHAVQ804", "10043"]
     *         },
     *         name: "Production Web Dashboard Alerts",
     *         owning_team_ids: ["01G0J1EXE7AXZ2C93K61WBPYEH"],
     *         template: {
     *             attributes: [{
     *                     alert_attribute_id: "abc123",
     *                     binding: {
     *                         array_value: [{
     *                                 literal: "SEV123",
     *                                 reference: "incident.severity"
     *                             }],
     *                         value: {
     *                             literal: "SEV123",
     *                             reference: "incident.severity"
     *                         }
     *                     }
     *                 }],
     *             description: {
     *                 literal: "SEV123",
     *                 reference: "incident.severity"
     *             },
     *             expressions: [{
     *                     else_branch: {
     *                         result: {
     *                             array_value: [{
     *                                     literal: "SEV123",
     *                                     reference: "incident.severity"
     *                                 }],
     *                             value: {
     *                                 literal: "SEV123",
     *                                 reference: "incident.severity"
     *                             }
     *                         }
     *                     },
     *                     label: "Team Slack channel",
     *                     operations: [{
     *                             branches: {
     *                                 branches: [{
     *                                         condition_groups: [{
     *                                                 conditions: [{
     *                                                         operation: "one_of",
     *                                                         param_bindings: [{
     *                                                                 array_value: [{
     *                                                                         literal: "SEV123",
     *                                                                         reference: "incident.severity"
     *                                                                     }],
     *                                                                 value: {
     *                                                                     literal: "SEV123",
     *                                                                     reference: "incident.severity"
     *                                                                 }
     *                                                             }],
     *                                                         subject: "incident.severity"
     *                                                     }]
     *                                             }],
     *                                         result: {
     *                                             array_value: [{
     *                                                     literal: "SEV123",
     *                                                     reference: "incident.severity"
     *                                                 }],
     *                                             value: {
     *                                                 literal: "SEV123",
     *                                                 reference: "incident.severity"
     *                                             }
     *                                         }
     *                                     }],
     *                                 returns: {
     *                                     array: true,
     *                                     type: "IncidentStatus"
     *                                 }
     *                             },
     *                             concatenate: {
     *                                 reference: "catalog_attribute[\"01FCNDV6P870EA6S7TK1DSYD5H\"]"
     *                             },
     *                             filter: {
     *                                 condition_groups: [{
     *                                         conditions: [{
     *                                                 operation: "one_of",
     *                                                 param_bindings: [{
     *                                                         array_value: [{
     *                                                                 literal: "SEV123",
     *                                                                 reference: "incident.severity"
     *                                                             }],
     *                                                         value: {
     *                                                             literal: "SEV123",
     *                                                             reference: "incident.severity"
     *                                                         }
     *                                                     }],
     *                                                 subject: "incident.severity"
     *                                             }]
     *                                     }]
     *                             },
     *                             navigate: {
     *                                 reference: "catalog_attribute[\"01FCNDV6P870EA6S7TK1DSYD5H\"]"
     *                             },
     *                             operation_type: "navigate",
     *                             parse: {
     *                                 returns: {
     *                                     array: true,
     *                                     type: "IncidentStatus"
     *                                 },
     *                                 source: "metadata.annotations[\"github.com/repo\"]"
     *                             }
     *                         }],
     *                     reference: "abc123",
     *                     root_reference: "incident.status"
     *                 }],
     *             is_private: false,
     *             title: {
     *                 literal: "SEV123",
     *                 reference: "incident.severity"
     *             },
     *             visible_to_teams: {
     *                 array_value: [{
     *                         literal: "SEV123",
     *                         reference: "incident.severity"
     *                     }],
     *                 value: {
     *                     literal: "SEV123",
     *                     reference: "incident.severity"
     *                 }
     *             }
     *         }
     *     })
     */
    public update(
        request: IncidentIO.AlertSourcesUpdatePayloadV2,
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.AlertSourcesUpdateResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: IncidentIO.AlertSourcesUpdatePayloadV2,
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.AlertSourcesUpdateResultV2>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/alert_sources/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.AlertSourcesUpdateResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v2/alert_sources/{id}");
    }

    /**
     * Delete an existing alert source in your account.
     *
     * @param {IncidentIO.AlertSourcesV2DeleteRequest} request
     * @param {AlertSourcesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.alertSourcesV2.delete({
     *         id: "01GW2G3V0S59R238FAHPDS1R66"
     *     })
     */
    public delete(
        request: IncidentIO.AlertSourcesV2DeleteRequest,
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: IncidentIO.AlertSourcesV2DeleteRequest,
        requestOptions?: AlertSourcesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/alert_sources/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/alert_sources/{id}");
    }
}
