// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace SchedulesV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * View and manage schedules.
 * Manage your full schedule of on-call rotations, including the users and rotation configuration.
 */
export class SchedulesV2Client {
    protected readonly _options: NormalizedClientOptions<SchedulesV2Client.Options>;

    constructor(options: SchedulesV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Get a list of schedule entries. The endpoint will return all entries that overlap with the given window, if one is provided.
     *
     * @param {FernApi.SchedulesV2ListScheduleEntriesRequest} request
     * @param {SchedulesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.schedulesV2.listscheduleentries({
     *         schedule_id: "01FDAG4SAP5TYPT98WGR2N7W91",
     *         entry_window_start: "2021-01-01T00:00:00Z",
     *         entry_window_end: "2021-01-01T00:00:00Z"
     *     })
     */
    public listscheduleentries(
        request: FernApi.SchedulesV2ListScheduleEntriesRequest,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.SchedulesListScheduleEntriesResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__listscheduleentries(request, requestOptions));
    }

    private async __listscheduleentries(
        request: FernApi.SchedulesV2ListScheduleEntriesRequest,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.SchedulesListScheduleEntriesResultV2>> {
        const {
            schedule_id: scheduleId,
            entry_window_start: entryWindowStart,
            entry_window_end: entryWindowEnd,
        } = request;
        const _queryParams: Record<string, unknown> = {
            schedule_id: scheduleId,
            entry_window_start: entryWindowStart,
            entry_window_end: entryWindowEnd,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/schedule_entries",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.SchedulesListScheduleEntriesResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/schedule_entries");
    }

    /**
     * Create a new schedule override.
     *
     * @param {FernApi.SchedulesCreateOverridePayloadV2} request
     * @param {SchedulesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.schedulesV2.createoverride({
     *         end_at: "2021-08-17T14:00:00Z",
     *         layer_id: "01G0J1EXE7AXZ2C93K61WBPYNH",
     *         rotation_id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *         schedule_id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *         start_at: "2021-08-17T13:00:00Z",
     *         user: {
     *             email: "bob@example.com",
     *             id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *             slack_user_id: "USER123"
     *         }
     *     })
     */
    public createoverride(
        request: FernApi.SchedulesCreateOverridePayloadV2,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.SchedulesCreateOverrideResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__createoverride(request, requestOptions));
    }

    private async __createoverride(
        request: FernApi.SchedulesCreateOverridePayloadV2,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.SchedulesCreateOverrideResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/schedule_overrides",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.SchedulesCreateOverrideResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/schedule_overrides");
    }

    /**
     * List configured schedules.
     *
     * @param {FernApi.SchedulesV2ListRequest} request
     * @param {SchedulesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.schedulesV2.list({
     *         page_size: 25,
     *         after: "01FDAG4SAP5TYPT98WGR2N7W91"
     *     })
     */
    public list(
        request: FernApi.SchedulesV2ListRequest = {},
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.SchedulesListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: FernApi.SchedulesV2ListRequest = {},
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.SchedulesListResultV2>> {
        const { page_size: pageSize, after } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            after,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/schedules",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.SchedulesListResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/schedules");
    }

    /**
     * Create a new schedule.
     *
     * @param {FernApi.SchedulesCreatePayloadV2} request
     * @param {SchedulesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.schedulesV2.create({
     *         schedule: {
     *             annotations: {
     *                 "incident.io/terraform/version": "version-of-terraform"
     *             },
     *             config: {
     *                 rotations: [{
     *                         effective_from: "2021-08-17T13:28:57Z",
     *                         handover_start_at: "2021-08-17T13:28:57Z",
     *                         handovers: [{
     *                                 interval: 1,
     *                                 interval_type: "hourly"
     *                             }],
     *                         id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *                         layers: [{
     *                                 id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *                                 name: "Layer 1"
     *                             }],
     *                         name: "My Rotation",
     *                         scheduling_mode: "fair",
     *                         users: [{
     *                                 email: "bob@example.com",
     *                                 id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *                                 slack_user_id: "USER123"
     *                             }],
     *                         working_interval: [{
     *                                 end_time: "17:00",
     *                                 start_time: "09:00",
     *                                 weekday: "monday"
     *                             }]
     *                     }]
     *             },
     *             holidays_public_config: {
     *                 country_codes: ["abc123"]
     *             },
     *             name: "Primary On-call Schedule",
     *             team_ids: ["01JPQA75EPNEES4479P16P4XAB"],
     *             timezone: "America/Los_Angeles"
     *         }
     *     })
     */
    public create(
        request: FernApi.SchedulesCreatePayloadV2,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.SchedulesCreateResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: FernApi.SchedulesCreatePayloadV2,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.SchedulesCreateResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/schedules",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.SchedulesCreateResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/schedules");
    }

    /**
     * Get a single schedule.
     *
     * @param {FernApi.SchedulesV2ShowRequest} request
     * @param {SchedulesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.schedulesV2.show({
     *         id: "01G0J1EXE7AXZ2C93K61WBPYEH"
     *     })
     */
    public show(
        request: FernApi.SchedulesV2ShowRequest,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.SchedulesShowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: FernApi.SchedulesV2ShowRequest,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.SchedulesShowResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/schedules/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.SchedulesShowResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/schedules/{id}");
    }

    /**
     * Update a schedule.
     *
     * @param {FernApi.SchedulesUpdatePayloadV2} request
     * @param {SchedulesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.schedulesV2.update({
     *         id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *         schedule: {
     *             annotations: {
     *                 "incident.io/terraform/version": "version-of-terraform"
     *             },
     *             config: {
     *                 rotations: [{
     *                         effective_from: "2021-08-17T13:28:57Z",
     *                         handover_start_at: "2021-08-17T13:28:57Z",
     *                         handovers: [{
     *                                 interval: 1,
     *                                 interval_type: "hourly"
     *                             }],
     *                         id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *                         layers: [{
     *                                 id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *                                 name: "Layer 1"
     *                             }],
     *                         name: "My Rotation",
     *                         scheduling_mode: "fair",
     *                         users: [{
     *                                 email: "bob@example.com",
     *                                 id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *                                 slack_user_id: "USER123"
     *                             }],
     *                         working_interval: [{
     *                                 end_time: "17:00",
     *                                 start_time: "09:00",
     *                                 weekday: "monday"
     *                             }]
     *                     }]
     *             },
     *             holidays_public_config: {
     *                 country_codes: ["abc123"]
     *             },
     *             name: "Primary On-call Schedule",
     *             team_ids: ["01JPQA75EPNEES4479P16P4XAB"],
     *             timezone: "America/Los_Angeles"
     *         }
     *     })
     */
    public update(
        request: FernApi.SchedulesUpdatePayloadV2,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.SchedulesUpdateResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: FernApi.SchedulesUpdatePayloadV2,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.SchedulesUpdateResultV2>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/schedules/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.SchedulesUpdateResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v2/schedules/{id}");
    }

    /**
     * Archives a single schedule.
     *
     * @param {FernApi.SchedulesV2DestroyRequest} request
     * @param {SchedulesV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.schedulesV2.destroy({
     *         id: "01G0J1EXE7AXZ2C93K61WBPYEH"
     *     })
     */
    public destroy(
        request: FernApi.SchedulesV2DestroyRequest,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__destroy(request, requestOptions));
    }

    private async __destroy(
        request: FernApi.SchedulesV2DestroyRequest,
        requestOptions?: SchedulesV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/schedules/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/schedules/{id}");
    }
}
