// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace CatalogV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage and browse catalog resources.
 *
 * These endpoints have been deprecated in favour of CatalogV3. The only breaking change is
 * that the 'manual' attribute mode is now split into 'api' and 'dashboard'. We also removed
 * the usage of some types that were deprecated in the V2 API.
 *
 * Use the incident.io catalog to track services, teams, product features and anything
 * else that helps build a map of your organisation. These different categories of thing
 * become catalog types, and each instance (like a particular service or team) is a
 * catalog entry.
 *
 * Each type is made up of a series of attributes, and each attribute has a type. Types
 * can even have attributes that refer to other catalog types.
 *
 * We automatically create catalog types when you connect an integration, such as GitHub
 * repositories or PagerDuty services and teams. You can use this API to create custom
 * types, that are specifically tailored to your organisation.
 *
 * Examples might be a 'Service' type with an 'Alert channel' which you can point at a
 * Slack channel, or 'Team' which specifies its 'Manager' and 'Technical Lead' as Slack
 * users. You can then use these types to create powerful new workflows.
 *
 * Consider using our official [catalog importer](https://github.com/incident-io/catalog-importer).
 * It can be used to sync catalog data from sources like local files or GitHub and push
 * them into the incident.io catalog without having to directly interact with our public API.
 */
export class CatalogV2Client {
    protected readonly _options: NormalizedClientOptions<CatalogV2Client.Options>;

    constructor(options: CatalogV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List entries for a catalog type.
     *
     * @param {IncidentIO.CatalogV2ListEntriesRequest} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.listentries({
     *         catalog_type_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         page_size: 25,
     *         after: "01FDAG4SAP5TYPT98WGR2N7W91"
     *     })
     */
    public listentries(
        request: IncidentIO.CatalogV2ListEntriesRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogListEntriesResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__listentries(request, requestOptions));
    }

    private async __listentries(
        request: IncidentIO.CatalogV2ListEntriesRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogListEntriesResultV2>> {
        const { catalog_type_id: catalogTypeId, page_size: pageSize, after } = request;
        const _queryParams: Record<string, unknown> = {
            catalog_type_id: catalogTypeId,
            page_size: pageSize,
            after,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/catalog_entries",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.CatalogListEntriesResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/catalog_entries");
    }

    /**
     * Create an entry within the catalog. We support a maximum of 50,000 entries per type.
     *
     * If you call this API with a payload where the external_id and catalog_type_id match an existing entry, the existing entry will be updated.
     *
     * @param {IncidentIO.CatalogCreateEntryPayloadV2} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.createentry({
     *         aliases: ["lawrence@incident.io", "lawrence"],
     *         attribute_values: {
     *             "abc123": {
     *                 array_value: [{
     *                         literal: "SEV123",
     *                         reference: "incident.severity"
     *                     }],
     *                 value: {
     *                     literal: "SEV123",
     *                     reference: "incident.severity"
     *                 }
     *             }
     *         },
     *         catalog_type_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         external_id: "761722cd-d1d7-477b-ac7e-90f9e079dc33",
     *         name: "Primary On-call",
     *         rank: 3
     *     })
     */
    public createentry(
        request: IncidentIO.CatalogCreateEntryPayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogCreateEntryResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__createentry(request, requestOptions));
    }

    private async __createentry(
        request: IncidentIO.CatalogCreateEntryPayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogCreateEntryResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/catalog_entries",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.CatalogCreateEntryResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/catalog_entries");
    }

    /**
     * Show a single catalog entry.
     *
     * @param {IncidentIO.CatalogV2ShowEntryRequest} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.showentry({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public showentry(
        request: IncidentIO.CatalogV2ShowEntryRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogShowEntryResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__showentry(request, requestOptions));
    }

    private async __showentry(
        request: IncidentIO.CatalogV2ShowEntryRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogShowEntryResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/catalog_entries/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.CatalogShowEntryResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/catalog_entries/{id}");
    }

    /**
     * Updates an existing catalog entry.
     *
     * @param {IncidentIO.CatalogUpdateEntryPayloadV2} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.updateentry({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         aliases: ["lawrence@incident.io", "lawrence"],
     *         attribute_values: {
     *             "abc123": {
     *                 array_value: [{
     *                         literal: "SEV123",
     *                         reference: "incident.severity"
     *                     }],
     *                 value: {
     *                     literal: "SEV123",
     *                     reference: "incident.severity"
     *                 }
     *             }
     *         },
     *         external_id: "761722cd-d1d7-477b-ac7e-90f9e079dc33",
     *         name: "Primary On-call",
     *         rank: 3
     *     })
     */
    public updateentry(
        request: IncidentIO.CatalogUpdateEntryPayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogUpdateEntryResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__updateentry(request, requestOptions));
    }

    private async __updateentry(
        request: IncidentIO.CatalogUpdateEntryPayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogUpdateEntryResultV2>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/catalog_entries/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.CatalogUpdateEntryResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v2/catalog_entries/{id}");
    }

    /**
     * Archives a catalog entry.
     *
     * @param {IncidentIO.CatalogV2DestroyEntryRequest} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.destroyentry({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public destroyentry(
        request: IncidentIO.CatalogV2DestroyEntryRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__destroyentry(request, requestOptions));
    }

    private async __destroyentry(
        request: IncidentIO.CatalogV2DestroyEntryRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/catalog_entries/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/catalog_entries/{id}");
    }

    /**
     * List available engine resources for the catalog.
     *
     * A resource represents a type of data that can be held within the catalog, so this
     * endpoint can be used to see what attribute types can be used when updating the
     * schema of a catalog type.
     *
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.listresources()
     */
    public listresources(
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogListResourcesResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__listresources(requestOptions));
    }

    private async __listresources(
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogListResourcesResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/catalog_resources",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.CatalogListResourcesResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/catalog_resources");
    }

    /**
     * List all catalog types for an organisation, including those synced from external resources.
     *
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.listtypes()
     */
    public listtypes(
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogListTypesResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__listtypes(requestOptions));
    }

    private async __listtypes(
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogListTypesResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/catalog_types",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.CatalogListTypesResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/catalog_types");
    }

    /**
     * Create a catalog type. The schema must be updated using the UpdateTypeSchema endpoint.
     *
     * @param {IncidentIO.CatalogCreateTypePayloadV2} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.createtype({
     *         annotations: {
     *             "incident.io/catalog-importer/id": "id-of-config"
     *         },
     *         categories: ["customer"],
     *         color: "yellow",
     *         description: "Represents Kubernetes clusters that we run inside of GKE.",
     *         icon: "alert",
     *         name: "Kubernetes Cluster",
     *         ranked: true,
     *         source_repo_url: "https://github.com/my-company/incident-io-catalog",
     *         type_name: "Custom[\"BackstageGroup\"]"
     *     })
     */
    public createtype(
        request: IncidentIO.CatalogCreateTypePayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogCreateTypeResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__createtype(request, requestOptions));
    }

    private async __createtype(
        request: IncidentIO.CatalogCreateTypePayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogCreateTypeResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/catalog_types",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.CatalogCreateTypeResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/catalog_types");
    }

    /**
     * Show a single catalog type.
     *
     * @param {IncidentIO.CatalogV2ShowTypeRequest} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.showtype({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public showtype(
        request: IncidentIO.CatalogV2ShowTypeRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogShowTypeResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__showtype(request, requestOptions));
    }

    private async __showtype(
        request: IncidentIO.CatalogV2ShowTypeRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogShowTypeResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/catalog_types/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.CatalogShowTypeResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/catalog_types/{id}");
    }

    /**
     * Updates an existing catalog type. The schema must be updated using the UpdateTypeSchema endpoint.
     *
     * @param {IncidentIO.CatalogUpdateTypePayloadV2} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.updatetype({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         annotations: {
     *             "incident.io/catalog-importer/id": "id-of-config"
     *         },
     *         categories: ["customer"],
     *         color: "yellow",
     *         description: "Represents Kubernetes clusters that we run inside of GKE.",
     *         icon: "alert",
     *         name: "Kubernetes Cluster",
     *         ranked: true,
     *         source_repo_url: "https://github.com/my-company/incident-io-catalog"
     *     })
     */
    public updatetype(
        request: IncidentIO.CatalogUpdateTypePayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogUpdateTypeResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__updatetype(request, requestOptions));
    }

    private async __updatetype(
        request: IncidentIO.CatalogUpdateTypePayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogUpdateTypeResultV2>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/catalog_types/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.CatalogUpdateTypeResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v2/catalog_types/{id}");
    }

    /**
     * Archives a catalog type and associated entries.
     *
     * @param {IncidentIO.CatalogV2DestroyTypeRequest} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.destroytype({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public destroytype(
        request: IncidentIO.CatalogV2DestroyTypeRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__destroytype(request, requestOptions));
    }

    private async __destroytype(
        request: IncidentIO.CatalogV2DestroyTypeRequest,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/catalog_types/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/catalog_types/{id}");
    }

    /**
     * Update an existing catalog types schema, adding or removing attributes.
     *
     * Updating the schema is handled separately from creating and updating types, so that you don't
     * have to worry about dependencies between types. For example, if type A has an attribute that
     * relies on type B, you would have to create type B first.
     *
     * By allowing the creation of types without a schema, they can be created in any order, but it
     * means that you need to make a separate call to this endpoint to update the schema.
     *
     * @param {IncidentIO.CatalogUpdateTypeSchemaPayloadV2} request
     * @param {CatalogV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV2.updatetypeschema({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         attributes: [{
     *                 array: false,
     *                 backlink_attribute: "abc123",
     *                 id: "01GW2G3V0S59R238FAHPDS1R66",
     *                 mode: "",
     *                 name: "tier",
     *                 path: [{
     *                         attribute_id: "abc123"
     *                     }],
     *                 type: "Custom[\"Service\"]"
     *             }],
     *         version: 1
     *     })
     */
    public updatetypeschema(
        request: IncidentIO.CatalogUpdateTypeSchemaPayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.CatalogUpdateTypeSchemaResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__updatetypeschema(request, requestOptions));
    }

    private async __updatetypeschema(
        request: IncidentIO.CatalogUpdateTypeSchemaPayloadV2,
        requestOptions?: CatalogV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.CatalogUpdateTypeSchemaResultV2>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/catalog_types/${core.url.encodePathParam(id)}/actions/update_schema`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.CatalogUpdateTypeSchemaResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/catalog_types/{id}/actions/update_schema",
        );
    }
}
