// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace ActionsV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage incident actions.
 *
 * These endpoints have been deprecated in favour of Actions V2 and Follow-ups V2, as these
 * concepts have become increasingly separate.
 *
 * Incidents have two types of actions associated to them:
 *
 * - Actions, used during an incident response as ephemeral todo lists
 * - Follow-ups, actions which are for after the incident and can be exported to external
 * 	issue trackers
 *
 * You can manage actions in the incident Slack channel with <code>/incident actions</code>, or on
 * the incident homepage.
 *
 * Exporting follow-ups to external issue trackers can be done in the incident homepage.
 */
export class ActionsV1Client {
    protected readonly _options: NormalizedClientOptions<ActionsV1Client.Options>;

    constructor(options: ActionsV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all actions for an organisation.
     *
     * @param {IncidentIO.ActionsV1ListRequest} request
     * @param {ActionsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.actionsV1.list({
     *         incident_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         is_follow_up: true
     *     })
     */
    public list(
        request: IncidentIO.ActionsV1ListRequest = {},
        requestOptions?: ActionsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.ActionsListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: IncidentIO.ActionsV1ListRequest = {},
        requestOptions?: ActionsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.ActionsListResultV1>> {
        const { incident_id: incidentId, is_follow_up: isFollowUp, incident_mode: incidentMode } = request;
        const _queryParams: Record<string, unknown> = {
            incident_id: incidentId,
            is_follow_up: isFollowUp,
            incident_mode: incidentMode != null ? incidentMode : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/actions",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.ActionsListResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/actions");
    }

    /**
     * Get a single incident action.
     *
     * @param {IncidentIO.ActionsV1ShowRequest} request
     * @param {ActionsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.actionsV1.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: IncidentIO.ActionsV1ShowRequest,
        requestOptions?: ActionsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.ActionsShowResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.ActionsV1ShowRequest,
        requestOptions?: ActionsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.ActionsShowResultV1>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/actions/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.ActionsShowResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/actions/{id}");
    }
}
