// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace UsersV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * View users.
 *
 * Users all have a single base role, and can be assigned multiple custom roles. They can be managed via your Slack workspace or SAML provider.
 */
export class UsersV2Client {
    protected readonly _options: NormalizedClientOptions<UsersV2Client.Options>;

    constructor(options: UsersV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List users in your account.
     *
     * @param {IncidentIO.UsersV2ListRequest} request
     * @param {UsersV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.usersV2.list({
     *         email: "john.doe@incident.io",
     *         slack_user_id: "U12345678",
     *         page_size: 25,
     *         after: "01FDAG4SAP5TYPT98WGR2N7W91"
     *     })
     */
    public list(
        request: IncidentIO.UsersV2ListRequest = {},
        requestOptions?: UsersV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.UsersListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: IncidentIO.UsersV2ListRequest = {},
        requestOptions?: UsersV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.UsersListResultV2>> {
        const { email, slack_user_id: slackUserId, page_size: pageSize, after } = request;
        const _queryParams: Record<string, unknown> = {
            email,
            slack_user_id: slackUserId,
            page_size: pageSize,
            after,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v2/users",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.UsersListResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/users");
    }

    /**
     * Get a single user.
     *
     * @param {IncidentIO.UsersV2ShowRequest} request
     * @param {UsersV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.usersV2.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: IncidentIO.UsersV2ShowRequest,
        requestOptions?: UsersV2Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.UsersShowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.UsersV2ShowRequest,
        requestOptions?: UsersV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.UsersShowResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v2/users/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.UsersShowResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/users/{id}");
    }
}
