// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace IncidentsV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Create and read incidents.
 *
 * Incidents are a core resource, on which many other resources (actions, etc) are created.
 *
 * Care should be taken around these endpoints, as automation that creates duplicate
 * incidents can be distracting, and impact reporting.
 *
 * The maximum page size that can be requested is 250.
 */
export class IncidentsV1Client {
    protected readonly _options: NormalizedClientOptions<IncidentsV1Client.Options>;

    constructor(options: IncidentsV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all incidents for an organisation.
     *
     * @param {IncidentIO.IncidentsV1ListRequest} request
     * @param {IncidentsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentsV1.list({
     *         page_size: 25,
     *         after: "01FDAG4SAP5TYPT98WGR2N7W91"
     *     })
     */
    public list(
        request: IncidentIO.IncidentsV1ListRequest = {},
        requestOptions?: IncidentsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentsListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: IncidentIO.IncidentsV1ListRequest = {},
        requestOptions?: IncidentsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentsListResultV1>> {
        const { page_size: pageSize, after, status } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            after,
            status,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incidents",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.IncidentsListResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incidents");
    }

    /**
     * Create a new incident.
     *
     * @param {IncidentIO.IncidentsCreatePayloadV1} request
     * @param {IncidentsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentsV1.create({
     *         custom_field_entries: [{
     *                 custom_field_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *                 values: [{
     *                         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *                         value_catalog_entry_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *                         value_link: "https://google.com/",
     *                         value_numeric: "123.456",
     *                         value_option_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *                         value_text: "This is my text field, I hope you like it",
     *                         value_timestamp: ""
     *                     }]
     *             }],
     *         idempotency_key: "alert-uuid",
     *         incident_role_assignments: [{
     *                 assignee: {
     *                     email: "bob@example.com",
     *                     id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *                     slack_user_id: "USER123"
     *                 },
     *                 incident_role_id: "01FH5TZRWMNAFB0DZ23FD1TV96"
     *             }],
     *         incident_type_id: "01FH5TZRWMNAFB0DZ23FD1TV96",
     *         mode: "real",
     *         name: "Our database is sad",
     *         severity_id: "01FH5TZRWMNAFB0DZ23FD1TV96",
     *         slack_team_id: "T02A1FSLE8J",
     *         source_message_channel_id: "C02AW36C1M5",
     *         source_message_timestamp: "1653650280.526509",
     *         status: "triage",
     *         summary: "Our database is really really sad, and we don't know why yet.",
     *         visibility: "public"
     *     })
     */
    public create(
        request: IncidentIO.IncidentsCreatePayloadV1,
        requestOptions?: IncidentsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentsCreateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IncidentIO.IncidentsCreatePayloadV1,
        requestOptions?: IncidentsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentsCreateResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incidents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.IncidentsCreateResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/incidents");
    }

    /**
     * Get a single incident.
     *
     * @param {IncidentIO.IncidentsV1ShowRequest} request
     * @param {IncidentsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentsV1.show({
     *         id: "01FDAG4SAP5TYPT98WGR2N7W91"
     *     })
     */
    public show(
        request: IncidentIO.IncidentsV1ShowRequest,
        requestOptions?: IncidentsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentsShowResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.IncidentsV1ShowRequest,
        requestOptions?: IncidentsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentsShowResultV1>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/incidents/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.IncidentsShowResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incidents/{id}");
    }
}
