// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace FollowUpsV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage incident follow-ups.
 *
 * Incidents can have follow-ups associated with them, which track work that should be done
 * after an incident (e.g. improving some documentation, or upgrading a dependency). They can
 * also be exported to external issue trackers.
 *
 * You can manage follow-ups in the incident Slack channel with <code>/incident follow-ups</code>, or on
 * the incident homepage.
 */
export class FollowUpsV2Client {
    protected readonly _options: NormalizedClientOptions<FollowUpsV2Client.Options>;

    constructor(options: FollowUpsV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all follow-ups for an organisation.
     *
     * @param {FernApi.FollowUpsV2ListRequest} request
     * @param {FollowUpsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.followUpsV2.list({
     *         incident_id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public list(
        request: FernApi.FollowUpsV2ListRequest = {},
        requestOptions?: FollowUpsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.FollowUpsListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: FernApi.FollowUpsV2ListRequest = {},
        requestOptions?: FollowUpsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.FollowUpsListResultV2>> {
        const { incident_id: incidentId, incident_mode: incidentMode } = request;
        const _queryParams: Record<string, unknown> = {
            incident_id: incidentId,
            incident_mode: incidentMode != null ? incidentMode : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/follow_ups",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.FollowUpsListResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/follow_ups");
    }

    /**
     * Get a single incident follow-up.
     *
     * @param {FernApi.FollowUpsV2ShowRequest} request
     * @param {FollowUpsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.followUpsV2.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: FernApi.FollowUpsV2ShowRequest,
        requestOptions?: FollowUpsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.FollowUpsShowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: FernApi.FollowUpsV2ShowRequest,
        requestOptions?: FollowUpsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.FollowUpsShowResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/follow_ups/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.FollowUpsShowResultV2, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/follow_ups/{id}");
    }
}
