// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace IncidentAttachmentsV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Create, list and delete incident attachments.
 *
 * Incident Attachments allows you to connect resources from external systems into incidents.
 * Examples include: PagerDuty incidents and GitHub pull requests.
 */
export class IncidentAttachmentsV1Client {
    protected readonly _options: NormalizedClientOptions<IncidentAttachmentsV1Client.Options>;

    constructor(options: IncidentAttachmentsV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all incident attachments for a given external resource or incident. You must provide either a specific incident ID or a specific external resource type and external ID.
     *
     * @param {IncidentIO.IncidentAttachmentsV1ListRequest} request
     * @param {IncidentAttachmentsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentAttachmentsV1.list({
     *         incident_id: "01G0J1EXE7AXZ2C93K61WBPYEH",
     *         external_id: "123"
     *     })
     */
    public list(
        request: IncidentIO.IncidentAttachmentsV1ListRequest = {},
        requestOptions?: IncidentAttachmentsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentAttachmentsListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: IncidentIO.IncidentAttachmentsV1ListRequest = {},
        requestOptions?: IncidentAttachmentsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentAttachmentsListResultV1>> {
        const { incident_id: incidentId, external_id: externalId, resource_type: resourceType } = request;
        const _queryParams: Record<string, unknown> = {
            incident_id: incidentId,
            external_id: externalId,
            resource_type: resourceType != null ? resourceType : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incident_attachments",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.IncidentAttachmentsListResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incident_attachments");
    }

    /**
     * Attaches an external resource to an incident
     *
     * @param {IncidentIO.IncidentAttachmentsCreatePayloadV1} request
     * @param {IncidentAttachmentsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentAttachmentsV1.create({
     *         incident_id: "01FDAG4SAP5TYPT98WGR2N7W91",
     *         resource: {
     *             external_id: "123",
     *             resource_type: "pager_duty_incident"
     *         }
     *     })
     */
    public create(
        request: IncidentIO.IncidentAttachmentsCreatePayloadV1,
        requestOptions?: IncidentAttachmentsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentAttachmentsCreateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IncidentIO.IncidentAttachmentsCreatePayloadV1,
        requestOptions?: IncidentAttachmentsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentAttachmentsCreateResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incident_attachments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.IncidentAttachmentsCreateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/incident_attachments");
    }

    /**
     * Unattaches an external resource from an incident
     *
     * @param {IncidentIO.IncidentAttachmentsV1DeleteRequest} request
     * @param {IncidentAttachmentsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentAttachmentsV1.delete({
     *         id: "01FCNDV6P870EA6S7TK1DSYD5H"
     *     })
     */
    public delete(
        request: IncidentIO.IncidentAttachmentsV1DeleteRequest,
        requestOptions?: IncidentAttachmentsV1Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: IncidentIO.IncidentAttachmentsV1DeleteRequest,
        requestOptions?: IncidentAttachmentsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/incident_attachments/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/incident_attachments/{id}",
        );
    }
}
