// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace SeveritiesV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage incident severities.
 *
 * Each incident has a severity, picked from one of the severities configured in your
 * organisations settings.
 *
 * Severities help categorise incidents, and communicate urgency/impact. You can use
 * severities when filtering incidents in the dashboard, and in workflows and announcement
 * rules.
 */
export class SeveritiesV1Client {
    protected readonly _options: NormalizedClientOptions<SeveritiesV1Client.Options>;

    constructor(options: SeveritiesV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all incident severities for an organisation.
     *
     * @param {SeveritiesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.severitiesV1.list()
     */
    public list(
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.SeveritiesListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.SeveritiesListResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/severities",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.SeveritiesListResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/severities");
    }

    /**
     * Create a new severity
     *
     * @param {IncidentIO.SeveritiesCreatePayloadV1} request
     * @param {SeveritiesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.severitiesV1.create({
     *         description: "Issues with **low impact**.",
     *         name: "Minor",
     *         rank: 1
     *     })
     */
    public create(
        request: IncidentIO.SeveritiesCreatePayloadV1,
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.SeveritiesCreateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IncidentIO.SeveritiesCreatePayloadV1,
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.SeveritiesCreateResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/severities",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.SeveritiesCreateResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/severities");
    }

    /**
     * Get a single incident severity.
     *
     * @param {IncidentIO.SeveritiesV1ShowRequest} request
     * @param {SeveritiesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.severitiesV1.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: IncidentIO.SeveritiesV1ShowRequest,
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.SeveritiesShowResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.SeveritiesV1ShowRequest,
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.SeveritiesShowResultV1>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/severities/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.SeveritiesShowResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/severities/{id}");
    }

    /**
     * Update an existing severity
     *
     * @param {IncidentIO.SeveritiesUpdatePayloadV1} request
     * @param {SeveritiesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.severitiesV1.update({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         description: "Issues with **low impact**.",
     *         name: "Minor",
     *         rank: 1
     *     })
     */
    public update(
        request: IncidentIO.SeveritiesUpdatePayloadV1,
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.SeveritiesUpdateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: IncidentIO.SeveritiesUpdatePayloadV1,
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.SeveritiesUpdateResultV1>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/severities/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.SeveritiesUpdateResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/severities/{id}");
    }

    /**
     * Delete a severity
     *
     * @param {IncidentIO.SeveritiesV1DeleteRequest} request
     * @param {SeveritiesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.severitiesV1.delete({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public delete(
        request: IncidentIO.SeveritiesV1DeleteRequest,
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: IncidentIO.SeveritiesV1DeleteRequest,
        requestOptions?: SeveritiesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/severities/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/severities/{id}");
    }
}
