// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace IncidentTimestampsV2Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * View incident timestamps.
 *
 * Each incident has a number of timestamps; some being defaults that we set on
 * each incident for you, and other being configured for your organisation within
 * settings.
 *
 * Timestamps help to communicate when a given action was taken for a specific
 * incident, for example when it was reported, closed or fixed.
 */
export class IncidentTimestampsV2Client {
    protected readonly _options: NormalizedClientOptions<IncidentTimestampsV2Client.Options>;

    constructor(options: IncidentTimestampsV2Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all incident timestamps for an organisation.
     *
     * @param {IncidentTimestampsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentTimestampsV2.list()
     */
    public list(
        requestOptions?: IncidentTimestampsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IncidentTimestampsListResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: IncidentTimestampsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IncidentTimestampsListResultV2>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v2/incident_timestamps",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.IncidentTimestampsListResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/incident_timestamps");
    }

    /**
     * Get a single incident timestamp.
     *
     * @param {FernApi.IncidentTimestampsV2ShowRequest} request
     * @param {IncidentTimestampsV2Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentTimestampsV2.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYD5H"
     *     })
     */
    public show(
        request: FernApi.IncidentTimestampsV2ShowRequest,
        requestOptions?: IncidentTimestampsV2Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IncidentTimestampsShowResultV2> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: FernApi.IncidentTimestampsV2ShowRequest,
        requestOptions?: IncidentTimestampsV2Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IncidentTimestampsShowResultV2>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v2/incident_timestamps/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.IncidentTimestampsShowResultV2,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/incident_timestamps/{id}");
    }
}
