// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace IncidentMembershipsV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage private incident memberships
 */
export class IncidentMembershipsV1Client {
    protected readonly _options: NormalizedClientOptions<IncidentMembershipsV1Client.Options>;

    constructor(options: IncidentMembershipsV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Makes a user a member of a private incident
     *
     * @param {IncidentIO.IncidentMembershipsCreatePayloadV1} request
     * @param {IncidentMembershipsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentMembershipsV1.create({
     *         incident_id: "01ET65M7ZADYFCKD4K1AE2QNMC",
     *         user_id: "01FCQSP07Z74QMMYPDDGQB9FTG"
     *     })
     */
    public create(
        request: IncidentIO.IncidentMembershipsCreatePayloadV1,
        requestOptions?: IncidentMembershipsV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentMembershipsCreateResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: IncidentIO.IncidentMembershipsCreatePayloadV1,
        requestOptions?: IncidentMembershipsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentMembershipsCreateResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incident_memberships",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as IncidentIO.IncidentMembershipsCreateResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/incident_memberships");
    }

    /**
     * Revoke a user's membership of a private incident
     *
     * @param {IncidentIO.IncidentMembershipsRevokePayloadV1} request
     * @param {IncidentMembershipsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentMembershipsV1.revoke({
     *         incident_id: "01FCNDV6P870EA6S7TK1DSYD5H",
     *         user_id: "01FCQSP07Z74QMMYPDDGQB9FTG"
     *     })
     */
    public revoke(
        request: IncidentIO.IncidentMembershipsRevokePayloadV1,
        requestOptions?: IncidentMembershipsV1Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__revoke(request, requestOptions));
    }

    private async __revoke(
        request: IncidentIO.IncidentMembershipsRevokePayloadV1,
        requestOptions?: IncidentMembershipsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incident_memberships/actions/revoke",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/incident_memberships/actions/revoke",
        );
    }
}
