// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace IpallowlistsV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage the IP allowlist.
 *
 * When enabled, the IP allowlist restricts authenticated traffic from the dashboard, public API and mobile app.
 */
export class IpallowlistsV1Client {
    protected readonly _options: NormalizedClientOptions<IpallowlistsV1Client.Options>;

    constructor(options: IpallowlistsV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Show the IP allowlist for your organisation
     *
     * @param {IpallowlistsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ipallowlistsV1.showipallowlist()
     */
    public showipallowlist(
        requestOptions?: IpallowlistsV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IpAllowlistsShowIpAllowlistResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__showipallowlist(requestOptions));
    }

    private async __showipallowlist(
        requestOptions?: IpallowlistsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IpAllowlistsShowIpAllowlistResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v1/ip_allowlists",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.IpAllowlistsShowIpAllowlistResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/ip_allowlists");
    }

    /**
     * Update the IP allowlist for your organisation
     *
     * @param {FernApi.IpAllowlistsUpdateIpAllowlistPayloadV1} request
     * @param {IpallowlistsV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ipallowlistsV1.updateipallowlist({
     *         allowlist: [{
     *                 label: "London HQ",
     *                 value: "192.0.2.0"
     *             }],
     *         enabled: true,
     *         version: 1
     *     })
     */
    public updateipallowlist(
        request: FernApi.IpAllowlistsUpdateIpAllowlistPayloadV1,
        requestOptions?: IpallowlistsV1Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.IpAllowlistsUpdateIpAllowlistResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__updateipallowlist(request, requestOptions));
    }

    private async __updateipallowlist(
        request: FernApi.IpAllowlistsUpdateIpAllowlistPayloadV1,
        requestOptions?: IpallowlistsV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.IpAllowlistsUpdateIpAllowlistResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v1/ip_allowlists",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.IpAllowlistsUpdateIpAllowlistResultV1,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/ip_allowlists");
    }
}
