// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as IncidentIO from "../../../index.js";

export declare namespace IncidentTypesV1Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * View incident types.
 *
 * With incident types enabled, you can tailor your process to the situation you're
 * responding to with different custom fields and roles for each incident type.
 */
export class IncidentTypesV1Client {
    protected readonly _options: NormalizedClientOptions<IncidentTypesV1Client.Options>;

    constructor(options: IncidentTypesV1Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List all incident types for an organisation.
     *
     * @param {IncidentTypesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentTypesV1.list()
     */
    public list(
        requestOptions?: IncidentTypesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentTypesListResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: IncidentTypesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentTypesListResultV1>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                "v1/incident_types",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.IncidentTypesListResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incident_types");
    }

    /**
     * Get a single incident type.
     *
     * @param {IncidentIO.IncidentTypesV1ShowRequest} request
     * @param {IncidentTypesV1Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.incidentTypesV1.show({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public show(
        request: IncidentIO.IncidentTypesV1ShowRequest,
        requestOptions?: IncidentTypesV1Client.RequestOptions,
    ): core.HttpResponsePromise<IncidentIO.IncidentTypesShowResultV1> {
        return core.HttpResponsePromise.fromPromise(this.__show(request, requestOptions));
    }

    private async __show(
        request: IncidentIO.IncidentTypesV1ShowRequest,
        requestOptions?: IncidentTypesV1Client.RequestOptions,
    ): Promise<core.WithRawResponse<IncidentIO.IncidentTypesShowResultV1>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.IncidentIOEnvironment.Default,
                `v1/incident_types/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IncidentIO.IncidentTypesShowResultV1, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IncidentIOError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/incident_types/{id}");
    }
}
