// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as FernApi from "../../../index.js";

export declare namespace CatalogV3Client {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Manage and browse catalog resources.
 *
 * Use the incident.io catalog to track services, teams, product features and anything
 * else that helps build a map of your organisation. These different categories of thing
 * become catalog types, and each instance (like a particular service or team) is a
 * catalog entry.
 *
 * Each type is made up of a series of attributes, and each attribute has a type. Types
 * can even have attributes that refer to other catalog types.
 *
 * We automatically create catalog types when you connect an integration, such as GitHub
 * repositories or PagerDuty services and teams. You can use this API to create custom
 * types, that are specifically tailored to your organisation.
 *
 * Examples might be a 'Service' type with an 'Alert channel' which you can point at a
 * Slack channel, or 'Team' which specifies its 'Manager' and 'Technical Lead' as Slack
 * users. You can then use these types to create powerful new workflows.
 *
 * Consider using our official [catalog importer](https://github.com/incident-io/catalog-importer).
 * It can be used to sync catalog data from sources like local files or GitHub and push
 * them into the incident.io catalog without having to directly interact with our public API.
 */
export class CatalogV3Client {
    protected readonly _options: NormalizedClientOptions<CatalogV3Client.Options>;

    constructor(options: CatalogV3Client.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * List entries for a catalog type.
     *
     * @param {FernApi.CatalogV3ListEntriesRequest} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.listentries({
     *         catalog_type_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         page_size: 25,
     *         after: "01FDAG4SAP5TYPT98WGR2N7W91",
     *         identifier: "abc123"
     *     })
     */
    public listentries(
        request: FernApi.CatalogV3ListEntriesRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogListEntriesResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__listentries(request, requestOptions));
    }

    private async __listentries(
        request: FernApi.CatalogV3ListEntriesRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogListEntriesResultV3>> {
        const { catalog_type_id: catalogTypeId, page_size: pageSize, after, identifier } = request;
        const _queryParams: Record<string, unknown> = {
            catalog_type_id: catalogTypeId,
            page_size: pageSize,
            after,
            identifier,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v3/catalog_entries",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogListEntriesResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/catalog_entries");
    }

    /**
     * Create an entry within the catalog. We support a maximum of 50,000 entries per type.
     *
     * If you call this API with a payload where the external_id and catalog_type_id match an existing entry, the existing entry will be updated.
     *
     * @param {FernApi.CatalogCreateEntryPayloadV3} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.createentry({
     *         aliases: ["lawrence@incident.io", "lawrence"],
     *         attribute_values: {
     *             "abc123": {
     *                 array_value: [{
     *                         literal: "SEV123"
     *                     }],
     *                 value: {
     *                     literal: "SEV123"
     *                 }
     *             }
     *         },
     *         catalog_type_id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         external_id: "761722cd-d1d7-477b-ac7e-90f9e079dc33",
     *         name: "Primary On-call",
     *         rank: 3
     *     })
     */
    public createentry(
        request: FernApi.CatalogCreateEntryPayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogCreateEntryResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__createentry(request, requestOptions));
    }

    private async __createentry(
        request: FernApi.CatalogCreateEntryPayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogCreateEntryResultV3>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v3/catalog_entries",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogCreateEntryResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v3/catalog_entries");
    }

    /**
     * Update multiple catalog entries in a single operation. You can update up to 250 entries at once. This operation is atomic - either all entries are updated successfully, or none are updated.
     *
     * @param {FernApi.CatalogBulkUpdateEntriesPayloadV3} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.bulkupdateentries({
     *         catalog_type_id: "01GW2G3V0S59R238FAHPDS1R66",
     *         entries: [{
     *                 aliases: ["abc123"],
     *                 attribute_values: {
     *                     "abc123": {
     *                         array_value: [{
     *                                 literal: "SEV123"
     *                             }],
     *                         value: {
     *                             literal: "SEV123"
     *                         }
     *                     }
     *                 },
     *                 entry_id: "abc123",
     *                 external_id: "abc123",
     *                 name: "abc123",
     *                 rank: 1
     *             }, {
     *                 aliases: ["abc123"],
     *                 attribute_values: {
     *                     "abc123": {
     *                         array_value: [{
     *                                 literal: "SEV123"
     *                             }],
     *                         value: {
     *                             literal: "SEV123"
     *                         }
     *                     }
     *                 },
     *                 entry_id: "abc123",
     *                 external_id: "abc123",
     *                 name: "abc123",
     *                 rank: 1
     *             }],
     *         update_attributes: ["01GW2G3V0S59R238FAHPDS1R66", "01GW2G3V0S59R238FAHPDS1R67"]
     *     })
     */
    public bulkupdateentries(
        request: FernApi.CatalogBulkUpdateEntriesPayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__bulkupdateentries(request, requestOptions));
    }

    private async __bulkupdateentries(
        request: FernApi.CatalogBulkUpdateEntriesPayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v3/catalog_entries/actions/bulk_update",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v3/catalog_entries/actions/bulk_update",
        );
    }

    /**
     * Show a single catalog entry.
     *
     * @param {FernApi.CatalogV3ShowEntryRequest} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.showentry({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public showentry(
        request: FernApi.CatalogV3ShowEntryRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogShowEntryResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__showentry(request, requestOptions));
    }

    private async __showentry(
        request: FernApi.CatalogV3ShowEntryRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogShowEntryResultV3>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v3/catalog_entries/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogShowEntryResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/catalog_entries/{id}");
    }

    /**
     * Updates an existing catalog entry.
     *
     * @param {FernApi.CatalogUpdateEntryPayloadV3} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.updateentry({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         aliases: ["lawrence@incident.io", "lawrence"],
     *         attribute_values: {
     *             "abc123": {
     *                 array_value: [{
     *                         literal: "SEV123"
     *                     }],
     *                 value: {
     *                     literal: "SEV123"
     *                 }
     *             }
     *         },
     *         external_id: "761722cd-d1d7-477b-ac7e-90f9e079dc33",
     *         name: "Primary On-call",
     *         rank: 3,
     *         update_attributes: ["abc123"]
     *     })
     */
    public updateentry(
        request: FernApi.CatalogUpdateEntryPayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogUpdateEntryResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__updateentry(request, requestOptions));
    }

    private async __updateentry(
        request: FernApi.CatalogUpdateEntryPayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogUpdateEntryResultV3>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v3/catalog_entries/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogUpdateEntryResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v3/catalog_entries/{id}");
    }

    /**
     * Archives a catalog entry.
     *
     * @param {FernApi.CatalogV3DestroyEntryRequest} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.destroyentry({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public destroyentry(
        request: FernApi.CatalogV3DestroyEntryRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__destroyentry(request, requestOptions));
    }

    private async __destroyentry(
        request: FernApi.CatalogV3DestroyEntryRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v3/catalog_entries/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v3/catalog_entries/{id}");
    }

    /**
     * List available engine resources for the catalog.
     *
     * A resource represents a type of data that can be held within the catalog, so this
     * endpoint can be used to see what attribute types can be used when updating the
     * schema of a catalog type.
     *
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.listresources()
     */
    public listresources(
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogListResourcesResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__listresources(requestOptions));
    }

    private async __listresources(
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogListResourcesResultV3>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v3/catalog_resources",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogListResourcesResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/catalog_resources");
    }

    /**
     * List all catalog types for an organisation, including those synced from external resources.
     *
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.listtypes()
     */
    public listtypes(
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogListTypesResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__listtypes(requestOptions));
    }

    private async __listtypes(
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogListTypesResultV3>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v3/catalog_types",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogListTypesResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/catalog_types");
    }

    /**
     * Create a catalog type. The schema must be updated using the UpdateTypeSchema endpoint.
     *
     * @param {FernApi.CatalogCreateTypePayloadV3} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.createtype({
     *         annotations: {
     *             "incident.io/catalog-importer/id": "id-of-config"
     *         },
     *         categories: ["customer"],
     *         color: "yellow",
     *         description: "Represents Kubernetes clusters that we run inside of GKE.",
     *         icon: "alert",
     *         name: "Kubernetes Cluster",
     *         ranked: true,
     *         source_repo_url: "https://github.com/my-company/incident-io-catalog",
     *         type_name: "Custom[\"BackstageGroup\"]",
     *         use_name_as_identifier: true
     *     })
     */
    public createtype(
        request: FernApi.CatalogCreateTypePayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogCreateTypeResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__createtype(request, requestOptions));
    }

    private async __createtype(
        request: FernApi.CatalogCreateTypePayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogCreateTypeResultV3>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                "v3/catalog_types",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogCreateTypeResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v3/catalog_types");
    }

    /**
     * Show a single catalog type.
     *
     * @param {FernApi.CatalogV3ShowTypeRequest} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.showtype({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public showtype(
        request: FernApi.CatalogV3ShowTypeRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogShowTypeResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__showtype(request, requestOptions));
    }

    private async __showtype(
        request: FernApi.CatalogV3ShowTypeRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogShowTypeResultV3>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v3/catalog_types/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogShowTypeResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v3/catalog_types/{id}");
    }

    /**
     * Updates an existing catalog type. The schema must be updated using the UpdateTypeSchema endpoint.
     *
     * @param {FernApi.CatalogUpdateTypePayloadV3} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.updatetype({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         annotations: {
     *             "incident.io/catalog-importer/id": "id-of-config"
     *         },
     *         categories: ["customer"],
     *         color: "yellow",
     *         description: "Represents Kubernetes clusters that we run inside of GKE.",
     *         icon: "alert",
     *         name: "Kubernetes Cluster",
     *         ranked: true,
     *         source_repo_url: "https://github.com/my-company/incident-io-catalog",
     *         use_name_as_identifier: true
     *     })
     */
    public updatetype(
        request: FernApi.CatalogUpdateTypePayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogUpdateTypeResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__updatetype(request, requestOptions));
    }

    private async __updatetype(
        request: FernApi.CatalogUpdateTypePayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogUpdateTypeResultV3>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v3/catalog_types/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as FernApi.CatalogUpdateTypeResultV3, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v3/catalog_types/{id}");
    }

    /**
     * Archives a catalog type and associated entries.
     *
     * @param {FernApi.CatalogV3DestroyTypeRequest} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.destroytype({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0"
     *     })
     */
    public destroytype(
        request: FernApi.CatalogV3DestroyTypeRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__destroytype(request, requestOptions));
    }

    private async __destroytype(
        request: FernApi.CatalogV3DestroyTypeRequest,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v3/catalog_types/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v3/catalog_types/{id}");
    }

    /**
     * Update an existing catalog types schema, adding or removing attributes.
     *
     * Updating the schema is handled separately from creating and updating types, so that you don't
     * have to worry about dependencies between types. For example, if type A has an attribute that
     * relies on type B, you would have to create type B first.
     *
     * By allowing the creation of types without a schema, they can be created in any order, but it
     * means that you need to make a separate call to this endpoint to update the schema.
     *
     * @param {FernApi.CatalogUpdateTypeSchemaPayloadV3} request
     * @param {CatalogV3Client.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.catalogV3.updatetypeschema({
     *         id: "01FCNDV6P870EA6S7TK1DSYDG0",
     *         attributes: [{
     *                 array: false,
     *                 backlink_attribute: "abc123",
     *                 id: "01GW2G3V0S59R238FAHPDS1R66",
     *                 mode: "",
     *                 name: "tier",
     *                 path: [{
     *                         attribute_id: "abc123"
     *                     }],
     *                 type: "Custom[\"Service\"]"
     *             }],
     *         version: 1
     *     })
     */
    public updatetypeschema(
        request: FernApi.CatalogUpdateTypeSchemaPayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): core.HttpResponsePromise<FernApi.CatalogUpdateTypeSchemaResultV3> {
        return core.HttpResponsePromise.fromPromise(this.__updatetypeschema(request, requestOptions));
    }

    private async __updatetypeschema(
        request: FernApi.CatalogUpdateTypeSchemaPayloadV3,
        requestOptions?: CatalogV3Client.RequestOptions,
    ): Promise<core.WithRawResponse<FernApi.CatalogUpdateTypeSchemaResultV3>> {
        const { id, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.FernApiEnvironment.Default,
                `v3/catalog_types/${core.url.encodePathParam(id)}/actions/update_schema`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as FernApi.CatalogUpdateTypeSchemaResultV3,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.FernApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v3/catalog_types/{id}/actions/update_schema",
        );
    }
}
